body {
  max-width: 90%;
  margin: 40px auto;
  padding: 0 16px;
  font-family: "Poppins", sans-serif;
}
/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
}
.navbar .left {
  font-size: 32px;
  font-weight: bold;
}
.navbar .right {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .right a {
  text-decoration: none;
  color: #000;
}
.navbar .right a:hover {
  text-decoration: underline;
}
.navbar .right img {
  width: 24px;
  height: 24px;
}
/* Images */
#container {
  display: grid;
  grid-template-areas:
    "eth eth alphabet"
    "eth eth traveler"
    "astro cube traveler"
    "cup insta insta"
    "cup insta insta"
    "foam foam dimensional"
    "foam foam dimensional";
  grid-gap: 16px;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#eth {
  grid-area: eth;
}
#alphabet {
  grid-area: alphabet;
}
#traveler {
  grid-area: traveler;
}
#astro {
  grid-area: astro;
}
#cube {
  grid-area: cube;
}
#cup {
  grid-area: cup;
}
#insta {
  grid-area: insta;
}
#foam {
  grid-area: foam;
}
#dimensional {
  grid-area: dimensional;
}

.project {
  position: relative;
}

.project > .overlay {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s ease;
}
.project > .overlay:hover {
  opacity: 1;
  cursor: pointer;
}
.white {
  color: white;
}

/* Footer */
.footer {
  text-align: center;
  padding: 64px;
  font-size: 1.5rem;
}
.footer a {
  text-decoration: none;
  color: #000;
}

@media only screen and (max-width: 1100px) {
  #container {
    max-width: 100%;
    grid-template-areas:
      "eth eth"
      "alphabet traveler"
      "astro cube"
      "insta insta"
      "cup foam"
      "dimensional dimensional";
  }
}

@media only screen and (max-width: 768px) {
  #container {
    grid-template-areas:
      "eth eth"
      "alphabet alphabet"
      "traveler traveler"
      "astro astro"
      "cube cube"
      "insta insta"
      "cup cup"
      "foam foam"
      "dimensional dimensional";
  }
  .project .overlay {
    font-size: 24px;
  }
}
